.background    { background-color:rgb(8, 3, 3)
}

 .background                background-position: center;
                background-size: cover;
                background: no-repeat;
                table-layout: fixed;
                border-spacing: 0;   }
.background td { padding: 0;   }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: rgb(255, 255, 255);   }

.actor  { position: absolute;  }

.coin   { background: rgb(241, 229, 89); }
.player { background: rgb(64, 64, 64); }

.game {
  overflow: hidden;
  max-width: 1500px;
  max-height: 820px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
